#navbar {
  display: flex;
  justify-content: space-between;
}

.big-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo a {
  text-decoration: none;
  margin: 10rem;
}

.group-links {
  display: flex;
  margin-right: 10rem;
  gap: 1rem;
}

.group-links a {
  text-decoration: none;
}
