#navbar {
  display: flex;
  justify-content: space-between;
}

.big-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo a {
  text-decoration: none;
  margin: 10rem;
  font-size: 25px;
  color: #007bff;
  font-weight: bold;
}

.group-links {
  display: flex;
  margin-right: 10rem;
  gap: 1rem;
}

.group-links a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

.group-links a:hover {
  border-bottom: 2px solid rgb(229, 229, 229);
  padding: 0.2rem;
}
